[Desktop Entry]
Name=tkubectl
Comment=GUI for kubectl
Exec=tkubectl
Icon=${SNAP}/meta/gui/tkubectl.png
Terminal=false
Type=Application
Categories=Graphics;Education;
